asgiref 
autopep8 
beautifulsoup4 
bootstrap4 
Brotli 
click 
dash 
dash-bootstrap-components 
dash-core-components 
dash-html-components 
dash-renderer 
dash-table 
Django 
django_celery_beat
django-bootstrap4 
django-plotly-dash==1.6.4
dpd-components 
dpd-static-support 
Flask 
Flask-Compress 
future 
importlib-metadata 
itsdangerous 
Jinja2 
MarkupSafe 
numpy 
pandas 
pip 
plotly 
pycodestyle 
pymssql 
python-dateutil 
pytz 
retrying 
setuptools 
six 
soupsieve 
SQLAlchemy 
sqlparse 
toml 
Werkzeug 
zipp
argh
bandit